body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: rgb(53, 229, 62);
  }
  
  .button-container {
    margin-bottom: 20px;
    gap: 1rem;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #output {
    font-size: 24px;
    margin-top: 20px;
  }

 